<?xml version='1.0' encoding='UTF-8'?>
#set($list = [1,2,3,4,5,6,7,8,9,10,11,12])
#set($catgory = [1,2,3,4,5,6])
<chart caption='消費紀錄年分析' shownames='1' showvalues='0' decimals='0' numberPrefix='$' formatNumberScale='0' baseFontSize='14'>
<categories>
<category label='Jan' />
<category label='Feb' />
<category label='Mar' />
<category label='Apr' />
<category label='May' />
<category label='Jun' />
<category label='July' />
<category label='Aug' />
<category label='Sep' />
<category label='Oct' />
<category label='Nov' />
<category label='Dec' />
</categories>
#foreach($element in $catgory)
<dataset seriesName='$catgoryName.get("$element")' color='$colorName.get("$element")' showValues='0'>
	#foreach($month in $list)
		<set value='$result.get("$month").get("$element").total' link="JavaScript:detail('$month','$element');"/>
    #end
</dataset>
#end
</chart>